GtkButton {
    /* Coloration */
    color: white;
    background: linear-gradient(45deg, blue, darkblue);
    outline: none;

    /* Font styling */
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;

    /* Size */
    border: 2px solid darkblue;
    border-radius: 20px;
    padding: 20px 30px;

    /* Others */
    animation: font-weight 3.0s;
    

}

GtkLabel {
    border-radius: 20px; /* to avoid straight edges */
    
}

GtkButton:hover {
    color: lightgrey;
    background: linear-gradient(45deg, darkblue, blue);

    
}

GtkButton:active {
    color: grey;
    background: linear-gradient(to left, lightblue, cyan);

}