GtkButton {
    /* Coloration */
    color: white;
    background: linear-gradient(45deg, blue, darkblue);
    outline: none;

    /* Font styling */
    font-family: Arial;
    font-weight: normal;
    font-style: normal;

    /* Size */
    border: 2px solid darkblue;
    border-radius: 10px;
    padding: 20px 30px;

    /*Others */
    
}

GtkButton:hover {
    background: linear-gradient(45deg, darkblue, blue);
    font-style: italic;

}

GtkButton:active {
    background: linear-gradient(to left, rgb(0, 110, 255), blue);

}