# Ignore all files and directories
/*

# Allow specific files and directories
!README.md
!CONTRIBUTE.md
!default.gpr
!/src/
!/css/

# Ignore subdirectories and files within /src and /css
/src/*
/css/*

# Re-allow specific files and filetypes within /src and /css
!src/user_interfaces.adb
!src/user_interfaces.ads
!css/*.css
